* {
	font-family: Helvetica Neue;
}

body {
	overflow-x: hidden;
	width:100%;
	height:100%;
}

hr {
	border: none;
  border-bottom: 1px solid lightgrey;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Home */

.home h4 {
	padding-top: 50px;
	font-weight: 300;
	line-height: 40px;
}

.home .here {
	font-size: 26px;
}

/* Projects / Blog / Volunteer Work */

.page {
	padding-top: 30px;
}

.page-title {
	width: 100%;
	display: inline-block;
}

.page-title h1 {
	line-height: 40px;
	font-weight: 300;
	width: 85%;
	float: left;
}

.page-title i {
	float: right;
	margin-top: 27px;
	margin-bottom: 0px;
	font-size: 30px;
	color: black;
}

.page-title .rss i:hover {
	color: darkgrey;
}

.year {
	font-weight: 100;
	line-height: 40px;
}

/* Blog */

.post-title {
	font-weight: 400;
	font-size: 26px;
	color: black;
}

.link:hover {
	color: gray;
}

.post-data {
	padding-left: 5px;
	font-size: 20px;
	font-weight: 300;
	color: gray;
}

/* Blog Post */

.blog-post-title {
	width: 100%;
	display: inline-block;
	padding-top: 30px;
}

.blog-post-title h1 {
	font-weight: 200;
	float: left;
	width: 85%;
}

.blog-post-links {
	float: right;
	margin-top: 22px;
	font-size: 30px;
}

.blog-post-links a {
	color: black;
	font-weight: 200;
}

.blog-post-links a:hover {
	color: darkgrey;
}

.blog-post-links .go-to-blog {
	margin-right: 10px;
}

.blog-post-content h1 {
	font-weight: 300;
	font-size: 40px;
}

.blog-post-content .date {
	color: gray;
	font-size: 20px;
	font-weight: 300;
}

.blog-post-content p {
	font-weight: 300;
	line-height: 40px;
	font-size: 18px;
}

.blog-post-content img {
	display: block;
  margin-left: auto;
  margin-right: auto;
}
