@media screen and (max-width: 768px) {
    #sidebar-wrapper {
        float: none;
        width: auto;
    }

    .sidebar-nav {
        border: none;
        width: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .sidebar-nav img {
        width: 175px;
        height: 175px;
    }

    .footer {
        border-bottom: 1px solid lightgrey;
    }

    .home h4 {
        padding-top: 0px;
    }
    .page {
        padding-top: 0px;
    }

    .sidebar-nav li {
        line-height: 40px;
    }

    .sidebar-nav li a {
        font-size: 18px;
    }

    .sidebar-nav li h1 {
        font-size: 32px;
        font-weight: 100;
    }

    .sidebar-nav li h4 {
        font-size: 14px;
        font-weight: 400;
    }

    .sidebar-nav li .social-wrapper a {
        font-size: 24px;
    }

    .sidebar-nav li .footer {
        font-size: 10px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .home h4 {
        font-size: 14px;
        line-height: 30px;
    }

    .page-title h1 {
        font-size: 28px;
    }

    .page-hr {
        display: none;
    }

    .page-title i {
        font-size: 24px;
        margin-top: 29px;
    }

    .year {
        font-size: 22px;
    }

}
