@media screen and (max-width: 768px) {
    #sidebar-wrapper {
        float: none;
        width: auto;
    }

    .sidebar-nav {
        border: none;
        width: auto;
    }

    .footer {
        border-bottom: 1px solid lightgrey;
    }

    .home h4 {
        padding-top: 0px;
    }
    .page {
        padding-top: 0px;
    }

    /* Font Size */
    .sidebar-nav li a {
        font-size: 18px;
    }

    .sidebar-nav li h1 {
        font-size: 32px;
        font-weight: 100;
    }

    .sidebar-nav li h4 {
        font-size: 14px;
        font-weight: 400;
    }

    .sidebar-nav li .social-wrapper a {
        font-size: 24px;
    }

    .sidebar-nav li .footer {
        font-size: 10px;
    }

}
