#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 400px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 400px;
    width: 0;
    height: 100%;
    margin-left: -400px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 400px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -400px;
}

.sidebar-nav {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    list-style: none;
    float:none;
    text-align:center;
    border-right: 1px solid lightgrey;
}

.sidebar-nav li {
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-weight: 200;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: darkgrey;
}

.sidebar-nav li img {
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-nav li h1 {
    font-size: 50px;
    font-weight: 100;
}

.sidebar-nav li h4 {
    font-size: 20px;
    font-weight: 400;
}

.sidebar-nav li .social-wrapper a {
    font-size: 40px;
    display: inline;
    padding: 10px;
}

.sidebar-nav hr {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.sidebar-nav li .footer {
    font-size: 14px;
    font-weight: 250;
    padding-top: 10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 400px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 400px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
