<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	<div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
        	<div class="blog-post-title">
        		<h1>Micael Reis</h1>
        		<div class="blog-post-links">
	        		<a class="go-to-blog" href="{{ site.baseurl }}/blog.html">Blog</a>
	        		<a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
        		</div>
      		</div>
      		<hr>
      		<div class="blog-post-content">
	          <h1>{{page.title}}</h1>
	          <div class='date'>
		          <time datetime="{{page.date}}" class="post__date">{{ page.date | date_to_string }}</time>
		        </div>
		        <br>
	          <p>{{content}}</p>
	        </div>
	        <hr>
	        <h4 class="share">
	        	Share this post on
	        	<a href='https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.url}}{{page.url}}' target='_blank'><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
						and
						<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
	        </h4>
	        <hr>
	        <div id="disqus_thread"></div>
					<script>

					/**
					 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
					/*
					var disqus_config = function () {
					    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
					    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/
					(function() { // DON'T EDIT BELOW THIS LINE
					    var d = document, s = d.createElement('script');
					    // s.src = '//micaelreis.disqus.com/embed.js';
					    s.src = '//' + '{{site.shorturl}}' + '.disqus.com/embed.js';
					    s.setAttribute('data-timestamp', +new Date());
					    (d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
    <script src="{{ "/assets/js/analytics.js" | prepend: site.baseurl }}"></script>
    {% include js.html %}
  </body>
</html>


